<!DOCTYPE html>
<html data-layout-decorator="@{/layout/main}">
<body>
	<div class="panel" data-layout-fragment="content">
		<div class="panel panel-header">
			<h3>
				<span data-th-text="#{app.journals.table.title}">Show Journals</span>
			</h3>
		</div>
		<div class="panel panel-body">
			<table class="table table-striped">
				<thead>
					<tr>
						<th data-text="#{app.jounral.label.id}">Id</th>
						<th data-text="#{app.jounral.label.title}">Title</th>
						<th data-text="#{app.jounral.label.summary}">Summary</th>
						<th data-text="#{app.jounral.label.created}">Created</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="journal: ${journals}">
						<td><span data-th-text="${journal.id}">1</span></td>
						<td><span data-th-text="${journal.title}">some title</span></td>
                        <td><span data-th-text="${journal.summary}">some summary</span></td>
						<td><span data-th-text="${journal.createdFormatted}">2017-12-01</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>